
body {
    background: white;
}

h2 {
    font-weight: 300 !important;
    color: #4A77AA !important;
}

ul.nav li a, ul.nav li a:visited {
    color: #95B4DE !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

#smalltext {
    font-size: 11px;
}

#footertext {
    color: white
}

a:link { 
    color: #6c96c6;
}

a:visited { 
    color: #6c96c6;
}

#menubar nav ul li a:hover {
    color: white;
}   

#name {
    font-family: 'Mr Dafoe';
    color: white;
    font-size: 38px;
    margin: 0 30px 0 0;
}

#footertext {
    color: #fff;
    font-size: 11px;
    padding: 6px 0 10px 20px;
}

.bluestrip {
    width: 100%;
    height: 30px;
}
